@charset "UTF-8";
/* CSS Document */


.btn-outline-inverse {
	border-color: #FFFFFF;	
	background-color: white;
	color: #354E4E;
	/*background-color: transparent;
	color: #FFFFFF;
	border: 1px solid white;*/
	
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
	/*color: #FFFFFF;	*/
	
	background-color: transparent;
	color: #FFFFFF;
	/*background-color: white;
	color: #354E4E;*/
	
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	
}

.btn-lg {
	margin-left: 10px;
	margin-right: 10px;
	width: 120px;
}